# Importing libraries

Importing all the libraries We want

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression

# Import the dataset

Link: https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv

Importing the data set from the Github

# Making the Dataframe for the taken data set

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/omairaasim/machine_learning/master/project_11_k_nearest_neighbor/iphone_purchase_records.csv')

In [3]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [4]:
df.shape

(400, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   Salary           400 non-null    int64
 3   Purchase Iphone  400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [6]:
df.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [7]:
df.Gender.value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

Df.Loc is used for the accessing the rows and columns.

In [8]:
df.loc[df['Purchase Iphone']==1,"Gender"].value_counts()

Female    77
Male      66
Name: Gender, dtype: int64

# Spliting of data

In [9]:
df.head(2)

  Gender  Age  Salary  Purchase Iphone
0   Male   19   19000                0
1   Male   35   20000                0

In [10]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

# Label Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
enc = LabelEncoder()

In [13]:
X.Gender = enc.fit_transform(X.Gender)

In [14]:
X

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
..      ...  ...     ...
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  400 non-null    int64
 1   Age     400 non-null    int64
 2   Salary  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

# Spliting the data into sets

In [16]:
skf = StratifiedKFold(n_splits=5)

In [17]:
for train_index,test_index in skf.split(X,y):
  X_train, X_test = X.iloc[train_index], X.iloc[test_index]
  y_train, y_test = y.iloc[train_index], y.iloc[test_index]

# Feature Scaling

In [18]:
scale = StandardScaler()

In [19]:
X_train = scale.fit_transform(X_train)
X_test = scale.fit_transform(X_test)

# Model selection

In [20]:
log = LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=5)

# Training the model

In [21]:
log.fit(X_train, y_train)
knn.fit(X_train, y_train)

KNeighborsClassifier()

# Test the model

In [22]:
y_log_pred = log.predict(X_test)

In [23]:
y_knn_pred = knn.predict(X_test)

In [24]:
newdf = pd.DataFrame({"Actual":y_test, "Predicted":y_knn_pred})

In [25]:
newdf.head()

     Actual  Predicted
266       0          0
267       0          0
269       0          0
270       0          1
276       0          0

In [26]:
confusion_matrix(y_test, y_knn_pred)

array([[46,  5],
       [ 7, 22]])

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy_score(y_test, y_log_pred)

0.725

In [29]:
lis = [i for i in range(2,101) if i%2==0]

In [30]:
acc=[]
dic = {}
for i in lis:
  knn = KNeighborsClassifier(n_neighbors=i)
  knn.fit(X_train, y_train)
  y_knn_pred = knn.predict(X_test)
  acc.append(accuracy_score(y_test,y_knn_pred))
  # dic[i] = accuracy_score(y_test,y_knn_pred)

print(max(acc))
# 0.8875 = 89%
# 0.875 = 88%

0.875